@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.zoom-frame {
  flex-shrink: 0;
  height:150%;
  width: 84rem;
  transform: scale(0.6666666666666667); 
  transform-origin: top;
}